{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Employee data</h1>
        <table id="employee-table" class="display" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Position</th>
                <th>Hire Date</th>
                <th>Salary</th>
                <th>Manager</th>
            </tr>
            </thead>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#employee-table').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "api/employee/?format=datatables",
                    "type": "GET"
                },
                "columns": [
                    {"data": "id"},
                    {"data": "full_name"},
                    {"data": "position"},
                    {"data": "hire_date"},
                    {"data": "salary"},
                    {"data": "manager"}
                ]
            });
        });
    </script>
{% endblock %}